.chart-bar.series0{
    -fx-bar-fill:#FF0000;
}
.chart-bar.series1{
    -fx-bar-fill:#FFA500;
}
.chart-bar.series2{
    -fx-bar-fill:#ADD8E6;
}
.chart-bar.series3{
    -fx-bar-fill:#FFFF00;
}
.chart-bar.series4{
    -fx-bar-fill:#D8A393;
}
.chart-bar.series5{
    -fx-bar-fill:#800080;
}
.chart-bar.series6{
    -fx-bar-fill:#00FFFF;
}
.chart-bar.series7{
    -fx-bar-fill:#FF00FF;
}
.chart-bar.series8{
    -fx-bar-fill:#FFC0CB;
}
.chart-bar.series9{
    -fx-bar-fill:#00FF00;
}
.chart-bar.series10{
    -fx-bar-fill:#A52A2A;
}
.chart-bar.series11{
    -fx-bar-fill:#808080;
}
.chart-bar.series12{
    -fx-bar-fill:#0000FF;
}
.chart-bar.series13{
    -fx-bar-fill:#90EE90;
}
.chart-bar.series14{
    -fx-bar-fill:#FFB6C1;
}
.chart-bar.series15{
    -fx-bar-fill:#D3D3D3;
}
.chart-bar.series16{
    -fx-bar-fill:#8B0000;
}
.chart-bar.series17{
    -fx-bar-fill:#006400;
}
.chart-bar.series18{
    -fx-bar-fill:#00008B;
}
.chart-bar.series19{
    -fx-bar-fill:#FF8C00;
}
.chart-bar.series20{
    -fx-bar-fill:#00FFFF;
}
.chart-bar.series21{
    -fx-bar-fill:#000000;
}
.chart-bar.series22{
    -fx-bar-fill:#FFFFFF;
}
.chart-bar.series23{
    -fx-bar-fill:#C0C0C0;
}
.chart-bar.series24{
    -fx-bar-fill:#FFD700;
}
.chart-bar.series25{
    -fx-bar-fill:#4B0082;
}
.chart-bar.series26{
    -fx-bar-fill:#008080;
}
.chart-bar.series27{
    -fx-bar-fill:#EE82EE;
}
.chart-bar.series28{
    -fx-bar-fill:#9ACD32;
}
.chart-bar.series29{
    -fx-bar-fill:#DC143C;
}
.chart-bar.series30{
    -fx-bar-fill:#E6E6FA;
}
.chart-bar.series31{
    -fx-bar-fill:#FA8072;
}
.chart-bar.series32{
    -fx-bar-fill:#D2691E;
}
.chart-bar.series33{
    -fx-bar-fill:#40E0D0;
}
.chart-bar.series34{
    -fx-bar-fill:#FF7F50;
}
.chart-bar.series35{
    -fx-bar-fill:#F08080;
}
.chart-bar.series36{
    -fx-bar-fill:#008B8B;
}
.chart-bar.series37{
    -fx-bar-fill:#E0FFFF;
}
.chart-bar.series38{
    -fx-bar-fill:#9400D3;
}
.chart-bar.series39{
    -fx-bar-fill:#C71585;
}
.chart-bar.series40{
    -fx-bar-fill:#FFA07A;
}
.chart-bar.series41{
    -fx-bar-fill:#B0C4DE;
}
.chart-bar.series42{
    -fx-bar-fill:#B8860B;
}
.chart-bar.series43{
    -fx-bar-fill:#BDB76B;
}
.chart-bar.series44{
    -fx-bar-fill:#20B2AA;
}